    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <a href="/Animal/Index">Liste des animaux</a>
    </div>

        @if (User.Identity.IsAuthenticated)
{
    <p>Bienvenue, @User.Identity.Name!</p>
    <a asp-controller="Auth" asp-action="Logout">Déconnexion</a>
}
else
{
    <a asp-controller="Auth" asp-action="Login">Connexion</a>
}
