@model DotnetMysql.Models.Animal

<h2>Modifier l'Animal</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" /> <!-- Champ caché pour l'ID de l'animal -->

    <div>
        <label asp-for="Type"></label>
        <input asp-for="Type" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Nom"></label>
        <input asp-for="Nom" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Couleur"></label>
        <input asp-for="Couleur" />
        <span asp-validation-for="Couleur" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Pattes"></label>
        <input asp-for="Pattes" type="number" />
        <span asp-validation-for="Pattes" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ImageF"></label>
        <input asp-for="ImageF" />
        <span asp-validation-for="ImageF" class="text-danger"></span>
    </div>
    
    <button type="submit">Mettre à jour</button>
</form>

<!-- Ajouter les validations côté client -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

        @if (User.Identity.IsAuthenticated)
{
    <p>Bienvenue, @User.Identity.Name!</p>
    <a asp-controller="Auth" asp-action="Logout">Déconnexion</a>
}
else
{
    <a asp-controller="Auth" asp-action="Login">Connexion</a>
}